
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Styling for video */
video {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Styling for content section */
p {
    text-align: justify;
    line-height: 1.6;
}

dd img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Gallery section */
h1 {
    font-size: 28px;
    margin: 20px 0;
}

.center img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Footer Styling */
*{
    margin: 0px;
    padding: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-content {
    display: grid;
    justify-content: space-around;
    padding: 10px;
}
.footer-section-about p {
    text-align: center;
}



.footer-section h3 {
    color: #f2f2f2;
    margin-bottom: 10px;
}

.footer-section a {
    color: #aaa;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.footer-section form button {
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.footer-section.social-icons a {
    margin-right: 10px;
    color: goldenrod;
    font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        grid-template-columns: 1fr;
        
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
